ul {
  margin: 0;
}
a {
  color: #000;
}
a:hover {
  color:#000;
  text-decoration: none;
}
input::placeholder {
  font-size: 13px;
}
header {
  position: sticky;
  top: 0;
  z-index: 2;
}
.sticky {
  position: sticky;
  top: 5rem;
}
.fa-heart {
  color: #ff1493;
}
.fs-user-name {
  font-size: 1.5rem;
}
.fs-m-id-name {
  font-size: 0.8rem;
}
.container-60 {
  display: flex;
  max-width: 60%;
  margin: 0 auto;
}
.border-grey {
  border: 1px solid #DDD;
}
.cursor-p {
  cursor: pointer;
}